<div class="row" style="margin-top: 60px;">
    <div class="card" style="width: 28rem;">
        <img  [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive"
        style="max-height: 200px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{recipe.name}}</h5>
          <p class="card-text">{{recipe.description}}</p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingred of recipe.ingredients">
                {{ingred.name}}-{{ingred.amount}}
            </li>
          </ul>
          <a style="cursor:pointer" (click)="onAddToShoppingList()" class="card-link">To Shopping List</a>
          <a style="cursor:pointer" class="card-link" (click)="onEditRecipe()">Edit Recipe</a>
          <a style="cursor:pointer"  class="card-link" (click)="onDeleteRecipe()">Delete Recipe</a>      
        </div>
      </div>
      </div>
    <!--  <div class="btn-group">
            <button type="button" 
                class="btn btn-primary dropdown-toggle">
                Manage Recipe   <span
                class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">To Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>  
        </div> -->