<div id="site-body">
    <div id="contactUsMain" class="section">
    <div class="content">
    <h1 class="title">Contact Us</h1>
    <div class="row">
    <div id="needhelp" class="col">
    <div class="icon"></div>
    <h2 class="subtitle">By Phone</h2>
    <p class="desc">
    <small>(Monday to Friday, 9am to 4pm PST)</small>
    <br>
    North America Toll-Free:<br>
    1-111-111-1111
    <br><br>
    International:<br>
    1-111-111-1111
    </p>
    </div>
    <div id="start-case" class="col">
    <div class="icon newcase"></div>
    <h2 class="subtitle">Reach us on Facebook/twitter/insta</h2>
    <p class="desc">
    Just send us your questions or concerns by starting
    a new case and we will give you the help you need.
    </p><div class="button">
    <a href="#">Start Here</a>
    </div>
    <p></p>
    
    </div>
    <div id="livechat" class="col">
    <div class="icon"></div>
    <h2 class="subtitle">Live Chat</h2>
    <p class="desc">
    Chat with a member of our in-house team.
    </p><div class="button">
    <a href="#" class="liveChatApp" title="Start Chat">Start Chat</a>
    </div>
    <p></p>
    </div>
    </div>   
    </div>
    </div>
    <div id="contactUsMain-trackCase" class="section">
  
    </div>
    <div id="needInstantHelp" class="section">
    <div class="content">
    <h2 class="title">Need Instant Help?</h2>
    <div class="row">
    <div class="col button"><a href="#" target="_blank" rel="noopener noreferrer">Video Tutorials</a></div>
    <div class="col button"><a href="#" target="_blank" rel="noopener noreferrer">Knowledge Base</a></div>
    <div class="col button"><a href="#">Resources</a></div>
    </div>
    </div>
    </div>
    <div id="companyAddress" class="section">
    <div class="content">
    <h2 class="title">Our Company Address</h2>
    <div class="row">
    <div class="icon"></div>
    <div class="address">
    <p>Website.com Solutions Inc.</p>
    <p>P.O. Box 1111 1111<br>
    Bristol, PA V5G 111<br>
    Vizag</p>
    </div>
    </div>
    </div>
    </div>
    <div id="signup-block"><a title="Sign Up now" routerLink="/signup">Sign Up now</a></div>
    <div id="site-body-footer"></div>
    </div>