<div class="row">
    <div style="margin-top:10px" class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="col-xs-12">
        <div class="row" style="overflow: auto;" >
       <ul class="list-group">
        <a 
        class="list-group-item" 
        style="cursor:pointer"
        *ngFor="let ingred of ingredients let i=index"
        (click)="onEditItem(i)">
        {{ingred.name}} {{ingred.amount}}
        </a>
       </ul>
      </div>
    </div>
    </div>
</div>