<div class="row" style="margin-top: 80px;"> 
<p> About 
Hi there!
I love hearing from my readers. Nothing makes me happier than reading a heartfelt message from wonderful people!

Due to the sheer volume of messages I receive these days however, sadly I’m not always able to respond to every one. Rest assured though that I do read every message I receive. So please don’t hesitate to write in and I do my very best to reply where I can!!
</p>
<p class="has-text-align-center"><strong>Hi Sprinkles!</strong> the cook, writer and photographer behind this little blog. I’ve grown up in the kitchen along side my mum and grandmothers and conversations in my family are always about the next meal. I’ve picked up their love for food along the way, and with this blog, I share my food story with you.</p>

<div class="feast-modern-sidebar">
    <div class="wp-block-columns are-vertically-aligned-top">
    <div class="wp-block-column is-vertically-aligned-top" style="flex-basis:100%">
   
    <p class="has-text-align-center"><strong>I love hearing from my readers. Nothing makes me happier than reading a        heartfelt message from wonderful people!
        Due to the sheer volume of messages I receive these days however, sadly I’m not always able to respond to every one. Rest assured though that I do read every message I receive. So please don’t hesitate to write in and I do my very best to reply where I can!!
    </strong>
</p>
    </div>    
    <h3 class="has-text-align-center" id="h-top-recipes">TOP RECIPES</h3>
    </div>
    <hr class="wp-block-separator is-style-dots">
    <h3 class="has-text-align-center" id="h-christmas-favourites">Christmas Favourites</h3>
</div>
